<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fadi.testingrx">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/elten_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_launcher"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".NormalModeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_normal_mode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.onboarding.Login" />
        <activity android:name=".ui.onboarding.ProfileActivity"/>
        <activity android:name=".ui.uvex.NormalModeUvex"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_normal_mode"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name=".ui.uvex.SessionStatsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".ui.SavedActivitiesBrowserActivity"
            android:screenOrientation="portrait"
            >


        </activity>

    </application>

</manifest>